{
	Name = "Grey Wolf",
	ClientId = 73,
	ScaleModifier = 1.25,
	Attach = "ai.brain_monster",
	SharedProperties = {
		BodyOffset = 1,
	},
	Mobile = {
		MovementSpeed = ServerSettings.DefaultMovementSpeed
	},

	ObjVars = {
		MobileTeamType = "Predator"
	},
    Weapon = {
        Speed = 0.4,
        Damage = {1,3},
        Range = 1.2,
        DamageType = "Piercing"
    },
    Stats = {
        Health = 50,
    },
    Abilities = {

    },
    Loot = {

    }
}