{
	Name = "Jane McSmith",
	ClientId = 184,
	Attach = "ai.brain_vendor_npc",
	SharedProperties = {
		BodyOffset = 0.5,
		Title = "Armorsmith",
	},
	Mobile = {
		MovementSpeed = ServerSettings.DefaultMovementSpeed
	},
}